theme = Batman
font-size = 16
fullscreen = true
window-theme = system
gtk-titlebar = false
gtk-wide-tabs = false
gtk-adwaita = false
cursor-style-blink = false
keybind = alt+right=goto_split:next
keybind = alt+left=goto_split:previous
keybind = alt+shift+right=new_split:right
keybind = alt+shift+down=new_split:down
keybind = alt+equal=equalize_splits
keybind = alt+z=toggle_split_zoom
keybind = ctrl+page_down=next_tab
keybind = ctrl+page_up=previous_tab
